In [1]:
import pandas as pd

In [2]:
covid_cd = pd.read_csv("data/covid-congr-district.csv")
covid_cd.head()

,Date,StateCode,StateAbbreviation,StateName,Congressional District,incremental_cases,incremental_deaths
0,2020-01-22,1,AL,Alabama,1,0.0,0.0
1,2020-01-23,1,AL,Alabama,1,0.0,0.0
2,2020-01-24,1,AL,Alabama,1,0.0,0.0
3,2020-01-25,1,AL,Alabama,1,0.0,0.0
4,2020-01-26,1,AL,Alabama,1,0.0,0.0

In [3]:
covid_cd.rename(columns = { 
    "StateCode": "STATEFP",
    "StateAbbreviation": "state_id",
    "Congressional District": "CD114FP"
})

,Date,STATEFP,state_id,StateName,CD114FP,incremental_cases,incremental_deaths
0,2020-01-22,1,AL,Alabama,1,0.0,0.0
1,2020-01-23,1,AL,Alabama,1,0.0,0.0
2,2020-01-24,1,AL,Alabama,1,0.0,0.0
3,2020-01-25,1,AL,Alabama,1,0.0,0.0
4,2020-01-26,1,AL,Alabama,1,0.0,0.0
...,...,...,...,...,...,...,...
132103,2020-11-15,56,WY,Wyoming,0,0.0,0.0
132104,2020-11-16,56,WY,Wyoming,0,728.0,18.0
132105,2020-11-17,56,WY,Wyoming,0,1260.0,11.0
132106,2020-11-18,56,WY,Wyoming,0,822.0,0.0
132107,2020-11-19,56,WY,Wyoming,0,894.0,21.0

In [4]:
covid_cd.to_csv("data/clean-covid-cd.csv", index=False)